<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<h1>Ingredients</h1>
		<ol>
			<% @ingredients.each do |ingredient| %>
				<li> <%= ingredient.name %></li>
			<% end %>
		</ol>
	</div>
</div>

